@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "aventa";
  src: url(Aventa-Bold.ttf);
}

h1 {
  font-family: "aventa";
}
.custom-clip {
  clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 95%);
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
}
