@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  position: relative;
  padding: 30px 0;
  overflow: hidden;
}

.marquee-inner {
  display: flex;
  width: fit-content;
  flex: auto;
  flex-direction: row;
}

.marquee-part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}
