@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-clip {
  clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 95%);
}
.smooth {
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}
.split-child {
  overflow: hidden;
}
