@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "aventa";
  src: url(Aventa-Bold.ttf);
}

h1 {
  font-family: "aventa";
}
.custom-clip {
  clip-path: polygon(0 0%, 100% 0, 100% 95%, 0 95%);
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
}
.split-parent {
  overflow: hidden;
}
.split-child {
  display: inline-block;
}
.smooth {
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.split-child {
	overflow:hidden;
}

.box {
  position: relative;
  width: 50px;
  height: 30px;
  background-color: #f0f0f0;
  text-align: center;
}

.box::after {
  position: absolute;
  z-index: 10;
  content: "";
  transform: translateY(-50%);
  right: 100%;
  top: 50%;
  background-color: red;
  color: black;
  width: 35px;
  height: 5px;
  font-weight: bold;
}

.box::before {
  position: absolute;
  content: "";
  transform: translateY(-50%);
  left: 100%;
  top: 50%;
  background-color: blue;
  color: black;
  width: 35px;
  height: 5px;
  font-weight: bold;
}

{/*  

.main-box::after {
  position: absolute;
  content: "";
  left: 85px;
  top: 13px;
  background: linear-gradient(to bottom right, #0000 47%, #000 0 53%, #0000 0);
  color: black;
  width: 30px;
  height: 38px;
  font-weight: bold;
}
*/}

.main-box::after {
  content: "";
  position: absolute;
	height:2px;
	background:red;
  width: 40px;
	left:80px;
	top:20px;
	transform: rotate(135deg);
  transform-origin: 50% 100%;
}
